## Deliverable 3. Create a Travel Itinerary Map.

In [10]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [11]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,2,Touros,BR,85.10,light rain,-5.1989,-35.4608,INN NEW HORIZON
1,5,Butaritari,KI,81.36,few clouds,3.0707,172.7902,Isles Sunset Lodge
2,7,Rikitea,PF,78.08,light rain,-23.1203,-134.9692,People ThankYou
3,16,Port Augusta,AU,78.71,broken clouds,-32.5000,137.7667,Majestic Oasis Apartments
4,21,Rio Grande,BR,78.94,scattered clouds,-32.0350,-52.0986,Hotel Atl창ntico Rio Grande

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} 째F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
fig=gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=='Lazaro Cardenas')]
vacation_end = vacation_df.loc[(vacation_df['City']=='Lazaro Cardenas')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']=='Acapulco')]
vacation_stop2 = vacation_df.loc[(vacation_df['City']=='Puerto Escondido')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City']=='Salina Cruz')]

In [60]:
start_np = vacation_start[['Lat','Lng']].to_numpy()
end_np = vacation_end[['Lat','Lng']].to_numpy()
stop1_np = vacation_stop1[['Lat','Lng']].to_numpy()
stop2_np = vacation_stop2[['Lat','Lng']].to_numpy()
stop3_np = vacation_stop3[['Lat','Lng']].to_numpy()

In [61]:
start_np

array([[  17.9583, -102.2   ]])

In [63]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (start_np[0][0],start_np[0][1])
end = (end_np[0][0],end_np[0][1])
stop1 = (stop1_np[0][0],stop1_np[0][1])
stop2 = (stop2_np[0][0],stop2_np[0][1])
stop3 = (stop3_np[0][0],stop3_np[0][1])

In [73]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

# Lat & Long Pairs
start
stop1 
stop2
stop3
end

fig =gmaps.figure()
Lazaro2Salina = gmaps.directions_layer(start,end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(Lazaro2Salina)
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,484,Lazaro Cardenas,MX,82.76,overcast clouds,17.9583,-102.2000,Baymont by Wyndham Lazaro Cardenas
1,194,Acapulco,MX,82.22,clear sky,16.8634,-99.8901,HS Hotsson Smart Acapulco
2,420,Puerto Escondido,MX,83.98,clear sky,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
3,457,Salina Cruz,MX,84.06,clear sky,16.1667,-95.2000,Amerik HOTEL
4,484,Lazaro Cardenas,MX,82.76,overcast clouds,17.9583,-102.2000,Baymont by Wyndham Lazaro Cardenas

In [91]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} 째F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [92]:
# 11a. Add a marker layer for each city to the map.

fig=gmaps.figure(center=(15.8500,-97.0667), zoom_level=5)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))